@import 'variables.less';

#content {
    max-width: @content-width;
    margin: @sidebar-margin;
    position: absolute;
    left: @sidebar-width;
}

/* Timeline */
.timeline-wrapper {
    overflow: auto;
    height: 300px;
}

.timeline {
    position: relative;
    padding: 1px 0;

    &:before {
        background: linear-gradient(to bottom, @white 0%, @shamrock 7%, @shamrock 93%, @white 100%);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        width: 4px;
        content: '';
        margin-left: 8px;
    }

    li {
        clear: right;
        margin: 5px;

        .timeline-date {
            @item-size: 40px;

            background: @white;
            float: left;
            height: @item-size;
            width: @item-size;
            position: relative;
            font-weight: bold;
            text-align: center;
            line-height: @item-size;
            margin-left: -10px;
        }

        .timeline-event {
            position: relative;
            margin: 10px 0 0 10%;
            background: @gallery;
            padding: 15px;

            &:before {
                position: absolute;
                content: '';
                border: 10px solid transparent;
                border-right-color: @gallery;
                border-left: 0 @gallery;
                margin-left: -20px;
            }
        }
    }
}

/* Experience list*/
.experiences {

    dt {
        clear: left;
        float: left;
        width: 100px;
        font-size: 10px;

        time {
            color: @raven;
            font-size: 15px;
        }
    }

    dd {
        margin-left: 110px;
        margin-bottom: 30px;
        clear: right;
    }
}

/* Contact list */
.contacts {

    li {
        @icon-size: 50px;
        line-height: @icon-size;
        display: table;

        .contact-icon {
            text-align: center;
            font-size: 25px;
            float: left;
            width: @icon-size;
            height: @icon-size;
            border-right: 1px solid @alto;
        }

        a {
            color: @shamrock;
        }

        .contact-content {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            line-height: 1;
            clear: right;

            mark {
                font-weight: 700;
                background-color: transparent;
            }
        }

        &:not(:last-child) {

            .contact-icon {
                border-bottom: 1px solid @alto;
            }
        }
    }
}

/* Skills */
#manage-skills-panel {
    display: none;
}

.skills-graph {

    li div {
        background: @shamrock;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        color: @white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        margin: 3px 0;
    }

    .ruler {
        box-sizing: border-box;
        margin-top: 10px;
        width: 100%;

        .interval {
            box-sizing: border-box;
            border: 2px solid @alto;
            border-top: 0;
            height: 10px;
        }

        .ruler-label {
            color: @alto;
            font-size: 9px;
            font-weight: bold;
            margin-top: 10px;
        }
    }
}

/* Portfolio */
.portfolio-buttons {
    margin-bottom: 20px;
    font-size: large;
    cursor: pointer;
}

.portfolio-menu {
    li {
        display: inline-block;

        &:after {
            content: ' / ';
        }

        &:last-child:after {
            content: '';
        }

        &.active a {
            color: @shamrock;
        }
    }
}

.portfolio-item {
    @border-width: 2px;
    @item-width: 400px;
    @item-height: 265px;

    width: @item-width;
    height: @item-height;
    overflow: hidden;
    margin: 10px 2px;
    border: @border-width solid @alto;

    .portfolio-item-content {
        width: @item-width;
        height: @item-height;
        margin-top: @item-height;
        transition: margin-top 0.1s linear;
        border: @border-width solid @shamrock;
        background-color: fade(@oxford-blue, 80%);
        color: @white;
        padding: 0 10px;
        font-size: 15px;
        word-wrap: break-word;
        box-sizing: border-box;

        h3, a {
            color: @shamrock;
            margin: 10px 0;
            display: inline-block;
        }
    }

    &:hover {
        .portfolio-item-content {
            margin-top: 0;
        }
    }
}

.code {
    background: url('../images/html_code.jpg') no-repeat center center;
    background-size: contain;
}

.ui {
    background: url('../images/designer.jpg') no-repeat center center;
    background-size: contain;
}

.portfolio-ui-content {
    :hover {
        opacity: 0.4;
        transition: opacity 0.3s ease-in-out;
    }
}

.portfolio-all-button:focus {
    color: @shamrock;

    + .portfolio-code-content, .portfolio-ui-content {
        display: block;
    }

    + .portfolio-code-button, .portfolio-ui-button {
        color: @black;
    }
}

.portfolio-code-button:focus {
    color: @shamrock;
}

.portfolio-code-button :focus .portfolio-code-content {
    display: block;
}

.portfolio-code-button :focus .portfolio-ui-content {
    display: none;
}

.portfolio-code-button :focus .portfolio-ui-button, .portfolio-all-button {
    color: @black;
}

.portfolio-ui-button:focus {
    color: @shamrock;

    + .portfolio-ui-content {
        display: block;
    }

    + .portfolio-code-content {
        display: none;
    }

    + .portfolio-code-button, .portfolio-all-button {
        color: @black;
    }
}

/* Feedbacks */
.feedbacks {

    li {
        margin: 40px 0;

        p {
            background-color: @gallery;
            padding: 15px;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid @white;
        }

        .feedback-meta {
            height: 45px;
            display: flex;
            align-items: center;

            span {
                margin-left: 20px;
            }

            a {
                color: @shamrock;
            }
        }
    }
}
